{% extends 'userSide/nav.html'%} {% load static %} {% block content%}

<section id="facts" class="wow fadeIn" style="margin-top: 100px;margin-bottom: 100px;">
    <div class="container">

        <header class="section-header">

        </header>

        <div class="section-header">

            <form method="post">
                {% csrf_token %} {% if messages %} {% for message in messages %}
                <div class="alert alert-danger">{{message}}

                </div> {% endfor %} {% endif %}
                <h3>Reset Password done check email </h3>
            </form>

        </div>



    </div>
</section>{% endblock %}