{% extends 'userSide/nav.html'%} {% load static %} {% block content%}

<section id="facts" class="wow fadeIn" style="margin-top: 100px;margin-bottom: 100px;">
    <div class="container">

        <header class="section-header">
            <h3>Reset Password</h3>

        </header>

        <div class="section-header">

            <form method="post">
                {% csrf_token %} {% if messages %} {% for message in messages %}
                <div class="alert alert-danger">{{message}}

                </div> {% endfor %} {% endif %}
                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="password" required=""></div>
                <div class="mb-3"><input class="form-control" type="password" name="password2" placeholder="password again" required=""></div>
                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="margin-left: 0px;background: rgb(236, 143, 0);">Reset</button></div>
            </form>

        </div>



    </div>
</section>{% endblock %}